html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px
}

/* Override */
#map {
	/*height: 75%;*/
	/*margin: 50px auto;*/
	/*width: 75%;*/
}


/* Style for bottom coordinates */
#ltlgcoords {
	position: fixed;
	bottom: 25px;
	left: 250px;

	width: 500px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 20px;
	color: black;

	border: 2px solid black;
	background: rgb(245, 245, 245);
	background: rgba(245, 245, 245, .9);
}

#ltlgcoords span {
	margin: 0 5px 0 5px;
}


/* Style for the info window */
.infowindowcontent {
	font-family: "FranklinITCStdLight","Helvetica","Arial",sans-serif;
	line-height: 10px;
	width: 300px;
	height: 225px;
	padding: 0px;
	margin: 0px;
}

.row {
	margin: 0px;
	padding: 0px;
}

.row .total {
	float: left;
	font-size: 28px;
	margin: 0px 10px 5px 0px;
	padding: 20px 10px 20px 10px;
	text-align: center;
}

.highlight {
	width: 60px;
	padding: 5px;
	margin: 0px;
}

.row .location {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	color: #333;
	font-size: 16px;
}

.row .code {
	margin: 0px;
	padding: 3px 0px 0px 10px;
	font-size: 26px;
}

.data {
	margin-top: 14px;
	padding:0px;
}

.tagbelow {
	font-size: 10px;
}

.label {
	text-transform: uppercase;
	font-size: 16px;
}

.details {
	font-size: 18px;
}

.coords {
	font-size: 10px;
}

.greenbk {
	background: #00a651;
}

.yellowbk {
	background: #fff202;
}

.orangebk {
	background: #ff8300;
}

.redbk {
	background: #ff2d08;
}
